.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.list{
  display: flex;
  flex-grow: 2;
  border: solid;
  margin: 1rem;
}

.form{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: solid;
  margin: 1rem;
}